{% comment %}
==================================================================
  BANNER SLIDE, IMAGE OR VIDEO
  EDITED: 4/12/22
  BY: WEBDEV
==================================================================
{% endcomment %}

<style>
.fs-main {
    aspect-ratio: 16/5;
    display: flex;
}
.fs-one {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fs-two {
    width: 50%;
}
  
.carousel-cell {
    margin-right: 10px;
    width: 100%;
    aspect-ratio: 16/6;
}
  .limit_height_desk {
/*   	    aspect-ratio: 16/6; */
	overflow: hidden;
  }
/*   .limit_height_desk {
    aspect-ratio: 16/6;
    overflow: hidden;
  } */
.carousel-cell {
    width: 100%;
}
.flickity-viewport, .carousel-cell {
    display: flex;
}
.fs-one-inner {
    display: table-cell;
    vertical-align: middle;
}
.fs-one-inner-text {
    margin: auto;
    padding: 30px;
    max-width: 600px;
}
.fs-image-desk {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flickity-page-dots .dot {
    height: 4px !important;
    width: 40px !important;
    margin: 0 !important;
    border-radius: 0 !important;
    background: white !important;
    color: white;
}
.flickity-page-dots .dot.is-selected {
    border-color: white;
}
.flickity-page-dots {
    bottom: 20px !important;
}
.flickity-page-dots {
    bottom: 20px;
}
.fs-image-mob {
    display: none;
}
.fs-left {
    flex-direction: row-reverse;
}
@media screen and (max-width: 900px) {
/*   	.limit_height_mobile {
  		aspect-ratio: 4/4.2;
		overflow: hidden;
  	} */
    .carousel-cell {
        aspect-ratio: 4/4.2 !important;

    }
  .carousel {
  	      	overflow: hidden !important;
          aspect-ratio: 4/7.5 !important;

  }
    div.fs-slide-{{section.id}}{
/*         height: 700px; */
      aspect-ratio: 4/4.2;


    }
    .fs-one {
		height: 100%;
    }
    .fs-top {
        flex-direction: column-reverse !important;
/*       	height: 100%; */
    }
    .fs-bot {
        flex-direction: column !important;
     

    }
    .fs-mobile-height {
        height: 100% !important;
    }
    .fs-one, .fs-two {
        width: 100% !important;
    }
    .fs-heading {
        margin: 20px 0px;
    }
    .fs-content {
        margin: 20px 0px;
    }
    .fs-subheading {
        margin: 20px 0px;
    }

    {% for block in section.blocks %}
    h1.fs-mobile-head-{{section.id}}-{{block.id}} {
        {{block.settings.heading_css_mobile}} 
    }
    h2.fs-mobile-sub-{{section.id}}-{{block.id}} {
        {{block.settings.subheading_css_mobile}} 
    }
    p.fs-mobile-cont-{{section.id}}-{{block.id}} {
        {{block.settings.content_css_mobile}} 
    }
    {% endfor %}

    .fs-one-inner-text {
        margin: auto;
        padding: 30px;
        text-align: center;
    }
    .fs-image-desk {
        display: none;
    }
    .fs-image-mob {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

{% for block in section.blocks %}
.fs-mobile-head-{{section.id}}-{{block.id}} {
{{block.settings.heading_css}} 
}
.fs-mobile-sub-{{section.id}}-{{block.id}} {
{{block.settings.subheading_css}} 
}
.fs-mobile-cont-{{section.id}}-{{block.id}} {
{{block.settings.content_css}} 
}
.Button-added-{{section.id}}-{{block.id}}::before {
background: {{block.settings.button_color}};
}
.Button-added-{{section.id}}-{{block.id}} {
border-color: {{block.settings.button_color}};
color: {{block.settings.button_text_color}};
}
.Button-added-{{section.id}}-{{block.id}}:hover {
color: {{block.settings.button_color}} !important;
}
{% endfor %}

.fs-slide-{{section.id}}{
    {{section.settings.viewport_height}}
}
.button-{{section.id}} > .flickity-prev-next-button {
    background: unset;
    box-shadow: unset;
    color: {{section.settings.button_s_color}};
}
.button-{{section.id}} > .flickity-prev-next-button svg{

    height: 35px;
}
  
  .cls {
  	display: none;
  }
  .flex-it {
  	display: flex !important;
  }
  
</style>
{% if section.settings.show_section %}
<section style=' {{section.settings.outer_css}}' data-section-id="{{section.id}}">
     <div class="carousel {% if section.settings.remove %} button-{{section.id}} {% endif %} limit_height_desk limit_height_mobile" style="margin: auto; {{section.settings.main_css}}"  data-flickity='{ {{section.settings.flickity}} }'>
  	  {% for block in section.blocks %}
      <div id="" style=" {{block.settings.main_background}} "  class="main-div-slide {% unless forloop.first %}cls{% endunless %} fs-slide fs-slide-{{section.id}} carousel-cell {% if block.settings.full_image %} fs-mobile-height {% endif %} {% if block.settings.mobile_image_position == 'top' %} fs-top {% else %} fs-bot {% endif %} {% if block.settings.image_position == 'left' %} fs-left {% endif %} ">
        <div class="fs-one" style='{{block.settings.background_css}} {% if block.settings.full_image %} display:none !important; {% endif %}'>
          <div class="fs-one-inner">
            <div class="fs-one-inner-text">
              <h2 class="fs-subheading fs-mobile-sub-{{section.id}}-{{block.id}}" > {{block.settings.subheading}} </h2>
              <h1 class="fs-heading fs-mobile-head-{{section.id}}-{{block.id}}"  > {{block.settings.heading}} </h1>
              <p class="fs-content  fs-mobile-cont-{{section.id}}-{{block.id}}" >{{block.settings.content}}</p>
              {% unless block.settings.button_text == blank %}
              <a href="{{block.settings.link_url}}" class="Button Button--primary">{{block.settings.button_text}} </a>
              {% endunless %}
            </div>
          </div>
        </div>
        <div class="fs-two {% if block.settings.full_image %} fs-mobile-height {% endif %}" style='{% if block.settings.full_image %} width: 100% !important; {% endif %} position: relative; {{block.settings.two}}'>
          {% if block.settings.full_image_text and block.settings.full_image %}
          <div style="margin:auto;position: absolute;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); text-align: center;">
              <h2 class="fs-subheading fs-mobile-sub-{{section.id}}-{{block.id}}" style=""> {{block.settings.subheading}} </h2>
              <h1 class="fs-heading fs-mobile-head-{{section.id}}-{{block.id}}"  style=""> {{block.settings.heading}} </h1>
              <p class="fs-content  fs-mobile-cont-{{section.id}}-{{block.id}}"  style="">{{block.settings.content}}</p>
              {% unless block.settings.button_text == blank %}
              <a href="{{block.settings.link_url}}" class="Button Button--primary Button-added-{{section.id}}-{{block.id}}">{{block.settings.button_text}} </a>
              {% endunless %}
          </div>
          {% endif %}
          {% if block.settings.video == blank%}
          <img loading="lazy" class="fs-image-desk" src="{{block.settings.image | img_url : 'master'}}" />
          <img loading="lazy" class="fs-image-mob" src="{{block.settings.image_mobile | img_url : 'master'}}" />
          {% endif %}
          {% unless block.settings.video == blank %}
          <video class="fs-image-desk" style="width: 100%; height: 100%; object-fit: cover;" preload="none" autoplay playsinline muted loop>
            <source src="{{block.settings.video}}" type"video/mp4">
          </video>
          <video class="fs-image-mob" style="width: 100%; height: 100%; object-fit: cover;" preload="none" autoplay playsinline muted loop>
            <source src="{{block.settings.video_mobile}}" type"video/mp4">
          </video>
          {% endunless %}
        </div>
      </div>
      {% endfor %}
	
    </div>

</section>
{% endif %}
{% schema %}
{
    "name": "Featured Slider",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_section",
            "label": "Show Section",
            "default": true
        }, {
            "type": "checkbox",
            "id": "remove",
            "label": "Remove Background",
            "info": "Remove Button Background",
            "default": false
        }, {
            "type": "text",
            "id": "button_s_color",
            "label": "Button Arrow Color",
            "info": "Button Arrow Color",
            "default": "white"
        }, {
            "type": "html",
            "id": "flickity",
            "label": "Slider Settings",
            "default": "\"wrapAround\": true, \"contain\": true, \"prevNextButtons\": true, \"pageDots\": true, \"autoPlay\" : 5000, \"pauseAutoPlayOnHover\" : false"
        }, {
            "type": "checkbox",
            "id": "overlay",
            "label": "Overlay Text Area",
            "default": false
        }, {
            "type": "html",
            "id": "viewport_height",
            "label": "Viewport Height",
            "default": "height: 800px;"
        }, {
            "type": "html",
            "id": "viewport_height_mobile",
            "label": "Viewport Height Mobile",
            "default": "height: 700px;"
        }, {
            "type": "html",
            "id": "outer_css",
            "label": "Outer CSS",
            "default": "background: white;"
        }, {
            "type": "html",
            "id": "main_css",
            "label": "Main CSS",
            "default": "max-width: 2300px;"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image Banner",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "full_image",
                    "label": "Full Image",
                    "default": false
                }, {
                    "type": "checkbox",
                    "id": "full_image_text",
                    "label": "Show Full Image Text",
                    "default": true
                }, {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image",
                    "info": "952 x 595px"
                }, {
                    "type": "image_picker",
                    "id": "image_mobile",
                    "label": "Image",
                    "info": "380 x 460px"
                }, {
                    "type": "text",
                    "id": "video",
                    "label": "Video CDN",
                    "info": "952 x 595px"
                }, {
                    "type": "text",
                    "id": "video_mobile",
                    "label": "Video CDN",
                    "info": "380 x 460px"
                }, {
                    "type": "html",
                    "id": "subheading",
                    "label": "Sub-heading"
                }, {
                    "type": "html",
                    "id": "heading",
                    "label": "Heading"
                }, {
                    "type": "html",
                    "id": "content",
                    "label": "Content"
                }, {
                    "type": "html",
                    "id": "subheading_css",
                    "label": "Sub Heading CSS",
                    "default": " font-size: 30px; color: pink; font-weight: 400;"
                }, {
                    "type": "html",
                    "id": "subheading_css_mobile",
                    "label": "Sub Heading CSS Mobile",
                    "info": "Use Important for Mobile",
                    "default": "font-size: 28px;"
                }, {
                    "type": "html",
                    "id": "heading_css",
                    "label": "Heading CSS",
                    "default": " font-size: 40px; color: pink; font-weight: 600;"
                }, {
                    "type": "html",
                    "id": "heading_css_mobile",
                    "label": "Heading CSS Mobile",
                    "info": "Use Important for Mobile",
                    "default": "font-size: 30px;"
                }, {
                    "type": "html",
                    "id": "content_css",
                    "label": "Content CSS",
                    "default": "font-size: 18px; color: gray; font-weight: 400;"
                }, {
                    "type": "html",
                    "id": "content_css_mobile",
                    "label": "Content CSS Mobile",
                    "info": "Use Important for Mobile",
                    "default": "font-size: 16px;"
                }, {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button",
                    "info": "Buttons for Banner",
                    "default": "Shop Now"
                }, {
                    "type": "url",
                    "id": "link_url",
                    "label": "Button Link",
                    "info": "Links for the Buttons"
                }, {
                    "type": "color",
                    "id": "button_color",
                    "label": "Button Color",
                    "default": "#FEB4C4"
                }, {
                    "type": "color",
                    "id": "button_text_color",
                    "label": "Button Text Color",
                    "default": "#FFFFFF"
                }, {
                    "type": "html",
                    "id": "main_background",
                    "label": "Whole Area CSS",
                    "default": "background: white;"
                }, {
                    "type": "html",
                    "id": "background_css",
                    "label": "Text Area CSS",
                    "default": "width: 50%; background: white; "
                }, {
                    "type": "html",
                    "id": "two",
                    "label": "Image Container CSS",
                    "default": "width: 50%; "
                }, {
                    "type": "select",
                    "id": "image_position",
                    "label": "Image position",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        }, {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "right"
                }, {
                    "type": "select",
                    "id": "mobile_image_position",
                    "label": "Mobile image position",
                    "options": [
                        {
                            "value": "top",
                            "label": "Top"
                        }, {
                            "value": "bottom",
                            "label": "Bottom"
                        }
                    ],
                    "default": "top"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Text",
            "name": "Featured Slider",
            "settings": {}
        }
    ]
}
{% endschema %}
