<style>
.sup-banner {
	padding: 40px 20px;
	background: #f5e1fd;
	color: #454545;
}

.item-wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 1600px;
}

.sup-item {
	height: 400px;
	;
	max-width: 200px;
	display: flex;
	flex-direction: column;
	margin: 10px;
	border: 1px solid black;
}

.sup-info {
	width: 50%;
}

@media screen and (max-width: 800px) {
	.sup-info {
		width: 100%;
		height: auto !important;
	}
	.sup-item-wrapper {
		width: 50% !important;
	}
	.sup-item {
		width: unset !important;
	}
	.sup-item-border {
		margin: 5px !important;
	}
	.sup-inner-info {
		margin: 10px !important;
	}
}

.sup-secondary {
	padding: 20px 0px;
}

.sup-center {
	max-width: 1300px;
	margin: auto;
}

.sup-third {
	display: flex;
	flex-wrap: wrap;
}

.sup-main-wrapper {
	border-top: 1px solid #e3e3e3;
	padding: 20px 0px;
	margin: 0px 20px;
}

.sup-inner-info {
	padding: 20px;
	margin-bottom: 15px;
	margin-right: 15px;
	border: 1px solid #e3e3e3;
}

.sup-third-header {
	max-width: 1300px;
	font-size: 24px;
	margin: 10px auto;
  
}

.sup-header-bottom {
	padding-bottom: 20px;
}

.machine-name {
	text-align: center;
	margin: 5px 0px;
}

.sup_link {
	text-decoration: underline;
	color: black;
}

.sup-li {
	margin-bottom: 10px;
}

.sup-image {
/* 	width: 100%;
	height: 100%; */
}

.sup-icon {
    width: 40px;
    height: auto;
    margin: 10px 0px;

}

.sup-item-wrapper {
	width: 200px;
	height: auto;
}

.sup-item-border {
	border: 1px solid #e3e3e3;
	margin-right: 10px;
	margin-bottom: 10px;
  	padding: 10px;
  	height: 100%;
}
</style>
<div class="sup-main">
	<div class="sup-banner">
		<div class="sup-center">
			<h1 style="margin: auto;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    /* line-height: 72px; */
    letter-spacing: 4px;
    Color: #fcf1fd;
    text-shadow: -0.03em 0.03em 0 #fff, 0.03em 0.003em 0 #ceaddd, 0.07em 0.01em 0 #e0bcf0;
}"> BeyondPRO Support </h1>
			<p style="font-size: 18px;"> Solve a problem, find spare parts and read experts tips and guides. </p>
		</div>
	</div>
	<div class="sup-main-wrapper">
		<div class="sup-secondary sup-center">
			<h1 class="sup-third-header"> Find your machine to get started </h1>
<!-- 			<p> For faster help, contact support or register your machine</p> -->
			<div class="item-wrapper">
				<div class="sup-item-wrapper">
					<div class="sup-item-border"> 
                      <a href="https://kiarasky.com/pages/lamp-support">
                        <img class="sup-image" src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/Untitled_design_44.png?v=1652284383">
						<p class="machine-name">Beyond PRO LED Lamp</p>
                      </a>
					</div>
				</div>
				<div class="sup-item-wrapper">
					<div class="sup-item-border">
                      <a href="https://kiarasky.com/pages/drill-support">
                      	<img class="sup-image" src="https://cdn.shopify.com/s/files/1/0311/6551/3864/products/KS-BPLav-Drill-FRNT_400x.png?v=1651165245">
						<p class="machine-name">Beyond PRO Nail Drill</p>
                      </a>
                    </div>
				</div>
				<div class="sup-item-wrapper">
                  <a href="https://kiarasky.com/pages/register-claim">
					<div class="sup-item-border"> <img class="sup-image" src="https://cdn.shopify.com/s/files/1/0311/6551/3864/products/mini-lamp_600x.png?v=1595636890">
						<p class="machine-name">Beyond PRO Flash <br> Cure LED Lamp</p>
					</div>
                  </a>
                </div>
			</div>
		</div>
	</div>
	<div class="sup-main-wrapper">
		<div class="sup-third sup-center">
			<div class="sup-info">
				<div class="sup-inner-info">
					<script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
<!-- 					<lord-icon src="https://cdn.lordicon.com/nlzvfogq.json" colors="primary:#000000,secondary:#000000" stroke="55" style="width:50px;height:50px"> </lord-icon> -->
					<img class="sup-icon" src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/box-svgrepo-com.svg?v=1652285898">

                    <h2> Delivery and returns </h2>
					<p>View deliery information, timescales, charges and returns.</p>
					<ul>
						<li class="sup-li"> See delivery information </li>
						<li class="sup-li"> See our return policy</li>
					</ul>
				</div>
			</div>
			<div class="sup-info">
				<div class="sup-inner-info">
					<lord-icon src="https://cdn.lordicon.com/zzcjjxew.json" colors="primary:#000000,secondary:#000000" style="width:50px;height:50px"> </lord-icon>
					<h2> Demo Stores &amp; Service Centers </h2>
					<p>Visit one of our stores to experience our technology first-hand</p>
					<a class="sup_link">
						<p>Visit a Dyson Demo store</p>
					</a>
					<p>Get in-person customer assistance at one of our Dyson Service Centers.</p>
					<a class="sup_link">
						<p>Visit a Dyson Service Center</p>
					</a>
				</div>
			</div>
			<div class="sup-info">
				<div class="sup-inner-info">
					<lord-icon src="https://cdn.lordicon.com/jvihlqtw.json" colors="primary:#000000,secondary:#000000" stroke="65" style="width:50px;height:50px"> </lord-icon>
					<h2> Register your machine </h2>
					<p>You can get support that’s tailored to you, owner exclusives and more when you register your machine.</p>
					<a class="sup_link">
						<p> Register your machine </p>
					</a>
				</div>
			</div>
            <div class="sup-info">
              <div class="sup-inner-info">
                <img class="sup-icon" src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/phone-svgrepo-com.svg?v=1652304283" height="40" width="40">
                <h2> Phone: </h2>
                <p class="sup_link">661-393-4800</p>
                <p>Our helpline hours: </p>
                <ul>
                  <li class="sup-li"> Monday - Friday: 9:00am - 5:00pm PST </li>
                  <li class="sup-li"> Saturday - Sunday: Closed</li>
                </ul>
              </div>
            </div>
            <div class="sup-info">
              <div class="sup-inner-info">
                <img class="sup-icon" style="width: 35px; height: auto;" src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/email-svgrepo-com.svg?v=1652304361" height="40" width="40">
                <h2> Email: </h2>
                <p style="text-decoration: underline;">customerservice@kiarasky.com</p>
                <p>Please feel free to email us if we are not available during our helpline hours. </p>
              </div>
            </div>
            <div class="sup-info">
              <div class="sup-inner-info">
                <img class="sup-icon" src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/chat-svgrepo-com.svg?v=1652304144" height="40" width="40">
                <h2> Support:</h2>
                <p>Feel free to visit our support page for answers to our FAQs, instructions on filing a claim, and more. <a style="text-decoration: underline;" href="https://kiarasky.com/pages/claims">Click here</a>
                </p>
              </div>
            </div>
		</div>
	</div>
<!-- 	<div class="sup-main-wrapper">
		<h1 class="sup-third-header sup-header-bottom"> Contact us </h1>
		<div class="sup-third sup-center">
			<div class="sup-info">
				<div class="sup-inner-info"> <img class="sup-icon" src="https://dyson-h.assetsadobe2.com/is/image/content/dam/dyson/icons/support-home/chat_2x.png?scl=1&amp;fmt=png-alpha" height="40" width="40">
					<h2> Live chat </h2>
					<p>The live chat button will appear on the bottom right corner of your screen as soon as a Dyson Expert becomes available. You can also find helpful troubleshooting advice and get more information by clicking on the automated chat icon in the bottom right corner of your screen at any time.</p>
				</div>
			</div>
			<div class="sup-info">
				<div class="sup-inner-info">
					<lord-icon src="https://cdn.lordicon.com/rhvddzym.json" colors="primary:#000000,secondary:#000000" stroke="75" style="width:50px;height:50px"> </lord-icon>
					<h2> Contact page </h2>
					<p>If you have any questions, view our Frequently Asked Questions (FAQ) page by clicking here. If you need further assistance, have comments or suggestions please feel free to contact us: <a class="sup_link" href="https://kiarasky.com/pages/contact-us">Click here</a></p>
				</div>
			</div>
			<div class="sup-info">
				<div class="sup-inner-info">
					<lord-icon src="https://cdn.lordicon.com/tkgyrmwc.json" colors="primary:#000000,secondary:#000000" stroke="75" style="width:50px;height:50px"> </lord-icon>
					<h2> YouTube and Social media </h2>
					<ul>
						<li class="sup-li"> Instagram: <a class="sup_link" href="">@kiaraskynails</a></li>
						<li class="sup-li"> TikTok: <a class="sup_link" href="">@kiaraskynails</a></li>
						<li class="sup-li"> Facebook: <a class="sup_link" href="">facebook.com/kiaraskynails</a></li>
						<li class="sup-li"> YouTube: <a class="sup_link" href="">youtube.com/KiaraSkyNails</a></li>
					</ul>
				</div>
			</div>
			<div class="sup-info">
				<div class="sup-inner-info"> <img class="sup-icon" src="https://dyson-h.assetsadobe2.com/is/image/content/dam/dyson/icons/support-home/phone_2x.png?scl=1&amp;fmt=png-alpha" height="40" width="40">
					<h2> Phone </h2>
					<p class="sup_link">661-393-4800</p>
					<p>Our helpline hours: </p>
					<ul>
						<li class="sup-li"> Monday - Friday: 9:00am - 5:00pm PST </li>
						<li class="sup-li"> Saturday - Sunday: Closed</li>
					</ul>
				</div>
			</div>
		</div>
	</div> -->
</div>
