<link href="https://vjs.zencdn.net/7.18.1/video-js.css" rel="stylesheet" />
<style>
  .claim-header {
    display: flex;
    background: #f3f3f3;
  }

  .claim-image {
    width: 200px;
    height: auto;
  }

  .width-wrapper {
    max-width: 1500px;
    margin: auto;
  }

  .claim-body-right {
    width: 50%;
  }

  .claim-shell {
    display: flex;
  }

  .claim-header-left {
    margin: auto;
  }

  .video-js {
    width: unset !important;
    height: unset !important;
    aspect-ratio: 16/9;
  }

  .my-video-dimensions {
    width: unset !important;
    height: unset !important;
  }

  .sup-banner {
    padding: 40px 20px;
    background: black;
    color: white;
  }

  .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
  }

  .sup-item {
    height: 400px;
    ;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
  }

  .sup-info {
    width: 50%;
    /*         float: left; */
  }

  @media screen and (max-width: 800px) {
    .sup-info {
      width: 100%;
      height: auto !important;
      /*           float: left; */
    }

    .sup-item-wrapper {
      width: 50% !important;
      /*       height: 200px;  */
    }

    .sup-item {
      width: unset !important;
    }

    .sup-item-border {
      margin: 5px !important;
    }

    .sup-inner-info {
      margin: 10px !important;
    }
  }

  .sup-secondary {
    padding: 20px 0px;
  }

  .sup-center {
    max-width: 1300px;
    margin: auto;
  }

  .sup-third {
    display: flex;
    flex-wrap: wrap;
  }

  .sup-main-wrapper {
    /*         border-top: 1px solid #454545; */
    border-bottom: 1px solid #454545;
    padding: 20px 0px;
    margin: 0px 20px;
  }

  .sup-inner-info {
    padding: 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    border: 1px solid #e3e3e3;
  }

  .sup-third-header {
    max-width: 1300px;
    margin: auto;
  }

  .sup-header-bottom {
    padding-bottom: 20px;
  }

  .machine-name {
    text-align: center;
    margin: 5px 0px;
  }

  .sup_link {
    text-decoration: underline;
    color: black;
  }

  .sup-li {
    /*     margin-bottom: 10px; */
  }

  .sup-image {
    /*     object-fit: cover;     */
    width: 100%;
    height: 100%;
  }

  .sup-icon {
    width: 40px;
    height: 40px;
    margin: 10px 0px;
    opacity: 0.60;
  }

  .sup-item-wrapper {
    width: 200px;
    height: auto;
  }

  .sup-item-border {
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .faq-header {
    font-size: 16px;
    font-weight: 600;
    color: #454545c7;
  }

  @media screen and (max-width: 900px) {
    .claim-body-left {
      width: 100% !important;
    }

    .claim-body-right {
      /*     	display: none !important; */
      width: 100% !important;
      margin: 0px !important;
    }

    .claim-shell {
      flex-direction: column-reverse;
    }

    .lamp-support-header {
      flex-direction: column-reverse;
    }

    .lamp-support-header-title {
      text-align: center;
    }

    .lamp-support-header-title-p {
      font-size: 34px !important;
      margin: 20px !important;
    }

    .lamp-support-header-image {
      max-width: 100% !important;
    }
  }

  .min_height_23,
  .ProductItem__LabelList,
  .wk-button-collection {
    display: none !important;
  }

  .links {
    text-decoration: underline;
  }

  .lamp-support-header-title-p {
    margin: auto;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    /*     line-height: 72px; */
    letter-spacing: 4px;
    Color: #fcf1fd;
    text-shadow: -0.03em 0.03em 0 #fff, 0.03em 0.003em 0 #ceaddd, 0.07em 0.01em 0 #e0bcf0;
  }
</style>
<div class="lamp-support-header" style="display: flex; background: #f5e1fd;">
  <div class="lamp-support-header-title" style="width: 100%; display: flex;">
    <h1 class="lamp-support-header-title-p" style="margin: auto; ">BEYOND PRO WARRANTY</h1>
  </div>
  <div style="width: 100%; display: flex;">
    <img class="lamp-support-header-image" style="max-width: 500px; margin: auto;" src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/hero-beyond-pro.png?v=1651165721">
  </div>
</div>
<div class="Container">
  <div class="PageContent PageContent--narrow" style="max-width: 1600px;">
    <div class="claim-main">
      <div class="claim-body">
        <div class="width-wrapper claim-shell">
          <div class="claim-body-left" style="width: 60%;">
            <div class="acco_wrapper" style="margin-top: 20px; max-width: 900px;">
              <div id="troubleshooting" class="acco_row">
                <h3 class="acco_row_title Heading warranty_form " style="padding: 15px 0px; font-size: 20px; color: #feb4c4;">THE KIARA SKY WARRANTY <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background: new 0 0 512 512; width: 30px; height: 18px;" xml:space="preserve" class="active">
                    <path d="M367.954,213.588L160.67,5.872c-7.804-7.819-20.467-7.831-28.284-0.029c-7.819,7.802-7.832,20.465-0.03,28.284
                           l207.299,207.731c7.798,7.798,7.798,20.486-0.015,28.299L132.356,477.873c-7.802,7.819-7.789,20.482,0.03,28.284
                           c3.903,3.896,9.016,5.843,14.127,5.843c5.125,0,10.25-1.958,14.157-5.873l207.269-207.701
                           C391.333,275.032,391.333,236.967,367.954,213.588z"></path>
                  </svg>
                </h3>
                <div class="acco_row_content activ" style="height: 0px;">
                  <p style="font-weight: bold;">Limited one year manufacturer guarantee does NOT cover:</p>
                  <ul>
                    <li> Maintenance past one year from date of purchase. </li>
                    <li> Any damage of the adapter. </li>
                    <li> Water-damage or any other damage clearly related to user neglected, including but not limited to: <ul>
                        <li style="margin-left: 20px;">Physical mishandling (i.e. Cracked body from dropping).</li>
                        <li style="margin-left: 20px;">Improper adapter usage.</li>
                        <li style="margin-left: 20px;">Improper voltage use.</li>
                      </ul>
                    </li>
                    <li> Warranty voided immediately if product has been disassembled, tampered with, adjusted or repaired by an unauthorized person. </li>
                    <li> Warranty voided if label is removed from the product. </li>
                  </ul>
                </div>
              </div>
              <div id="faq" class="acco_row">
                <h3 class="acco_row_title Heading warranty_form " style="padding: 15px 0px; font-size: 20px; color: #feb4c4;">REGISTER YOUR PRODUCT <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background: new 0 0 512 512; width: 30px; height: 18px;" xml:space="preserve" class="active">
                    <path d="M367.954,213.588L160.67,5.872c-7.804-7.819-20.467-7.831-28.284-0.029c-7.819,7.802-7.832,20.465-0.03,28.284
                           l207.299,207.731c7.798,7.798,7.798,20.486-0.015,28.299L132.356,477.873c-7.802,7.819-7.789,20.482,0.03,28.284
                           c3.903,3.896,9.016,5.843,14.127,5.843c5.125,0,10.25-1.958,14.157-5.873l207.269-207.701
                           C391.333,275.032,391.333,236.967,367.954,213.588z"></path>
                  </svg>
                </h3>
                <div class="acco_row_content activ" style="height: 0px;">
                  <a name="form1698252076" id="formAnchor1698252076"></a>
                  <script src="https://fs3.formsite.com/include/form/embedManager.js?1698252076"></script>
                  <script>
                    EmbedManager.embed({
                      key: "https://fs3.formsite.com/res/showFormEmbed?EParam=iGs2D6QRb6IBX89KeZorxtt7h1SghSJ6&1698252076",
                      width: "100%"
                    });
                  </script>
                </div>
              </div>
<!--               <div id="troubleshooting" class="acco_row">
                <h3 class="acco_row_title Heading warranty_form " style="padding: 15px 0px; font-size: 20px; color: #feb4c4;"> FILE A CLAIM <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background: new 0 0 512 512; width: 30px; height: 18px;" xml:space="preserve" class="active">
                    <path d="M367.954,213.588L160.67,5.872c-7.804-7.819-20.467-7.831-28.284-0.029c-7.819,7.802-7.832,20.465-0.03,28.284
                           l207.299,207.731c7.798,7.798,7.798,20.486-0.015,28.299L132.356,477.873c-7.802,7.819-7.789,20.482,0.03,28.284
                           c3.903,3.896,9.016,5.843,14.127,5.843c5.125,0,10.25-1.958,14.157-5.873l207.269-207.701
                           C391.333,275.032,391.333,236.967,367.954,213.588z"></path>
                  </svg>
                </h3>
                <div class="acco_row_content activ" style="height: 0px;">
                  <a name="form67278433" id="formAnchor67278433"></a>
                  <script src="https://fs3.formsite.com/include/form/embedManager.js?67278433"></script>
                  <script>
                    EmbedManager.embed({
                      key: "https://fs3.formsite.com/res/showFormEmbed?EParam=iGs2D6QRb6IBX89KeZorxq_3bsAv-gQi&67278433",
                      width: "100%"
                    });
                  </script>
                </div>
              </div> -->
<!--               <div id="troubleshooting" class="acco_row">
                <h3 class="acco_row_title Heading warranty_form " style="padding: 15px 0px; font-size: 20px; color: #feb4c4;"> FAQ's <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background: new 0 0 512 512; width: 30px; height: 18px;" xml:space="preserve" class="active">
                    <path d="M367.954,213.588L160.67,5.872c-7.804-7.819-20.467-7.831-28.284-0.029c-7.819,7.802-7.832,20.465-0.03,28.284
                           l207.299,207.731c7.798,7.798,7.798,20.486-0.015,28.299L132.356,477.873c-7.802,7.819-7.789,20.482,0.03,28.284
                           c3.903,3.896,9.016,5.843,14.127,5.843c5.125,0,10.25-1.958,14.157-5.873l207.269-207.701
                           C391.333,275.032,391.333,236.967,367.954,213.588z"></path>
                  </svg>
                </h3>
                <div class="acco_row_content activ" style="height: 0px;">
                  <p> This is just a test for FAQ's</p>
                </div>
              </div> -->
              <div id="troubleshooting" class="acco_row">
                <h3 class="acco_row_title Heading warranty_form " style="padding: 15px 0px; font-size: 20px; color: #feb4c4;"> TERMS AND CONDITIONS <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background: new 0 0 512 512; width: 30px; height: 18px;" xml:space="preserve" class="active">
                  <path d="M367.954,213.588L160.67,5.872c-7.804-7.819-20.467-7.831-28.284-0.029c-7.819,7.802-7.832,20.465-0.03,28.284
                           l207.299,207.731c7.798,7.798,7.798,20.486-0.015,28.299L132.356,477.873c-7.802,7.819-7.789,20.482,0.03,28.284
                           c3.903,3.896,9.016,5.843,14.127,5.843c5.125,0,10.25-1.958,14.157-5.873l207.269-207.701
                           C391.333,275.032,391.333,236.967,367.954,213.588z"></path>
                  </svg>
                </h3>
                <div class="acco_row_content activ" style="height: 0px;">
                  <p> This is just a test for FAQ's</p>
                </div>
              </div>
              <div id="contact" class="acco_row">
                <h3 class="acco_row_title Heading warranty_form " style="padding: 15px 0px; font-size: 20px; color: #feb4c4;">Contact us <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background: new 0 0 512 512; width: 30px; height: 18px;" xml:space="preserve" class="active">
                    <path d="M367.954,213.588L160.67,5.872c-7.804-7.819-20.467-7.831-28.284-0.029c-7.819,7.802-7.832,20.465-0.03,28.284
                           l207.299,207.731c7.798,7.798,7.798,20.486-0.015,28.299L132.356,477.873c-7.802,7.819-7.789,20.482,0.03,28.284
                           c3.903,3.896,9.016,5.843,14.127,5.843c5.125,0,10.25-1.958,14.157-5.873l207.269-207.701
                           C391.333,275.032,391.333,236.967,367.954,213.588z"></path>
                  </svg>
                </h3>
                <div class="acco_row_content activ" style="height: 0px;">
                  <div class="sup-main-wrapper" style="margin: 0px;">
                    <!-- 			<h1 class="sup-third-header sup-header-bottom"> Contact us </h1> -->
                    <div class="sup-third sup-center">
                      <div class="sup-info">
                        <div class="sup-inner-info">
                          <img class="sup-icon" src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/phone-svgrepo-com.svg?v=1652304283" height="40" width="40">
                          <h2> Phone: </h2>
                          <p class="sup_link">661-393-4800</p>
                          <p>Our helpline hours: </p>
                          <ul>
                            <li class="sup-li"> Monday - Friday: 9:00am - 5:00pm PST </li>
                            <li class="sup-li"> Saturday - Sunday: Closed</li>
                          </ul>
                        </div>
                      </div>
                      <div class="sup-info">
                        <div class="sup-inner-info">
                          <img class="sup-icon" style="width: 35px; height: auto;" src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/email-svgrepo-com.svg?v=1652304361" height="40" width="40">
                          <h2> Email: </h2>
                          <p style="text-decoration: underline;">customerservice@kiarasky.com</p>
                          <p>Please feel free to email us if we are not available during our helpline hours. We know that your time is valuable and we will try our best to reply to you as soon as possible. </p>
                        </div>
                      </div>
                      <div class="sup-info">
                        <div class="sup-inner-info">
                          <img class="sup-icon" src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/chat-svgrepo-com.svg?v=1652304144" height="40" width="40">
                          <h2> Live chat:</h2>
                          <p>The live chat button will appear on the bottom right corner of your screen as soon as a Dyson Expert becomes available. You can also find helpful troubleshooting advice and get more information by clicking on the automated chat icon in the bottom right corner of your screen at any time.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="claim-body-right" style="margin: 0px auto">
            <div style="max-width: 400px; margin: auto;">
              <h1 style="font-size: 20px;">Must register your product within 30 days from purchase</h1>
              <p>Our Beyond Pro products come with a one year limited manufacturer guarantee from the date of purchase. This warranty covers manufacturing defects and defects arising from normal usage within the warranty period. Proof of purchase such as a receipt copy, along with a filled out warranty card are required in the event of a warranty claim. If defective, return to:</p>
              <p>
                <span style="text-decoration: underline;">Kiara Sky Professional Nails, Inc</span>
                <br>Attn: Warranty <br>8700 Swigert Ct Suite 209 <br>Bakersfield, Ca 93311
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://vjs.zencdn.net/7.18.1/video.min.js"></script>
