<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
  .bundle-compare-color {
  	color: #45454594;
  }
</style>
  
  
<div class="bundle-product-template page__bundle-page">
  <div class="product_hero-section">
    <div class="content">
      <h2>Build your own gelly tips bundle</h2>

      <div class="image-with-text">
        <div class="image">
          <img src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/new-bundle-desktop-concept2.jpg?v=1631176824">
        </div>

        <div class="text">
          <p>Select the perfect shape and size of the soak-off Gelly Tip Kit along with your favorite gel polish color (we've included the top picks from our trending colors for you to choose from). Get everything you need to create the best set evety time, you won't believe it.</p>

          <h3>You choose your</h3>
          <div class="image-wrap">
            <div class="image-wrap__item">
              <img src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/35K-RPM_7c8768a3-6caa-4875-80ae-83484302e1ae.png?v=1628550345">
              <span>Gelly Tips<br>
                Starter Kit</span>
            </div>
            <div class="image-wrap__item">
              <img src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/smooth-vibration_0ef809c4-2016-4ef4-96b6-f43dec6005e4.png?v=1628550345">
              <span>2 Gel Colors</span>
            </div>
            <div class="image-wrap__item">
              <img src="https://cdn.shopify.com/s/files/1/0311/6551/3864/files/10hr-battery_105fa28e-ee5e-4488-adae-00cdb16ded41.png?v=1628550344">
              <span>Cuticle Oil</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section data-section-id="bundle-product-alternate-template">

    <form action="/cart/add" method="post" id="ProductFormBundle" class="ProductForm BundleProductForm">
      {% section 'page-bundle' %}
    </form>
  </section>

  <script>


    
    $(document).ready(function() { 
	  $('.bundle-price').css('display', 'none');

      
      function formatMoney(cents, format) {
        if (typeof cents === 'string') {
          cents = cents.replace('.', '');
        }

        var placeholderRegex = /\{\{\s*(\w+)\s*\}\}/,
            formatString = format || '${{amount}}';

            function defaultTo(value, defaultValue) {
              return value == null || value !== value ? defaultValue : value;
            }

        function formatWithDelimiters(number, precision, thousands, decimal) {
          precision = defaultTo(precision, 2);
          thousands = defaultTo(thousands, ',');
          decimal = defaultTo(decimal, '.');

          if (isNaN(number) || number == null) {
            return 0;
          }

          number = (number / 100.0).toFixed(precision);

          var parts = number.split('.'),
              dollarsAmount = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + thousands),
              centsAmount = parts[1] ? decimal + parts[1] : '';

          return dollarsAmount + centsAmount;
        }

        var value = '';

        switch (formatString.match(placeholderRegex)[1]) {
          case 'amount':
            value = formatWithDelimiters(cents, 2);
            break;
          case 'amount_no_decimals':
            value = formatWithDelimiters(cents, 0);
            break;
          case 'amount_with_space_separator':
            value = formatWithDelimiters(cents, 2, ' ', '.');
            break;
          case 'amount_no_decimals_with_comma_separator':
            value = formatWithDelimiters(cents, 0, ',', '.');
            break;
          case 'amount_no_decimals_with_space_separator':
            value = formatWithDelimiters(cents, 0, ' ');
            break;
          case 'amount_with_comma_separator':
            value = formatWithDelimiters(cents, 2, '.', ',');
            break;
        }

        if (formatString.indexOf('with_comma_separator') !== -1) {
          return formatString.replace(placeholderRegex, value).replace(',00', '');
        } else {
          return formatString.replace(placeholderRegex, value).replace('.00', '');
        }
      };

      let global_sum = 0;
      
      $('.step').on('click','.bundle_button', function(e){
        e.preventDefault();
        var productTitle = $(this).data('name');

        var productItem = $(this).data('value'),
            currentPrice = $(this).siblings('.bundle-product-item').data('price');

        var currentVal = $(this).data('value'),
            currentStep = $(this).data('step'),
            currentImg = $(this).siblings('img').attr('src'),
            countProd = $(this).parents('.step').data('count'),
            stepLength = $('[data-count-step="'+currentStep+'"]').length,
            totalProd = countProd - 1;
        
         var itemPrice = $(this).attr('data-price'),
             discountPrice = $(this).attr('data-compare-at-price');
        
	
        var activeBtn = false;

        if($(this).hasClass('active-item') == false) {
          $(this).addClass('active-item');
          
          
          $(this).html('Remove');
          activeBtn = true;
          
          if(stepLength <= totalProd) {
            $('<input type="hidden" class="property_input" data-name="'+productTitle+'" data-price="'+itemPrice+'" data-compare-at-price="'+discountPrice+'" data-count-step="'+ currentStep  +'" value="'+currentVal+'" name="properties['+currentVal+']">').appendTo('.BundleProductForm');
          } else {
            var propertiesInputs = $('.property_input');

            if(propertiesInputs.length) {
              for(var i=0;i < propertiesInputs.length;i++) {
                var propertiesInput = $(propertiesInputs[i]);
                if(propertiesInput.val() == '') {
                  propertiesInput.val(currentVal);
                 
                  propertiesInput.attr('data-count-step',currentStep);
                  propertiesInput.attr('data-price',itemPrice);
                  propertiesInput.attr('data-compare-at-price',discountPrice);
                  propertiesInput.attr('data-name',productTitle);

                  var property_name = "properties["+currentVal+"]";
                  propertiesInput.attr('name',property_name);
                  break;
                }
              }
            }
          }
            $('.option').find('img').each(function(){
              if($(this).attr('src') == '') {
                $(this).show().attr('src', currentImg);
                $(this).parents('.option').siblings('.remove').show();
                $(this).parents('.option').css('background', 'transparent').attr('data-option',currentVal);
                return false; 
              }
            });
              
        } else {

          $(this).removeClass('active-item');
          $(this).html('Add');
          
          $('.product-details .ProductForm__AddToCart').css('pointer-events','none');
          $('.product-details .ProductForm__AddToCart').addClass('btn-disabled');
          $('.bundle-price').css('display', 'none');
          $('.bundle1-compare-at-price').css('text-decoration', 'none');
          $('.bundle-cont').css('display', 'block');






		var property_input = $('.property_input[value="' + currentVal + '"]');
          
          var parentEl =  $(this).parents('.step').data('count');

          if(property_input.length) {
            property_input.val('').attr('name', "").attr('data-current-step','').attr('data-price','').attr('data-compare-at-price','').attr('data-name', '');
          }

          var activeOptionBlock = $('[data-option="'+ currentVal +'"]');
          if(activeOptionBlock.length) {
            activeOptionBlock.find('img').hide().attr('src','');
            activeOptionBlock.css('background', '#ffeef3');
            activeOptionBlock.siblings('.remove').hide();
            activeOptionBlock.attr('data-option','');
          }

          var other_items =  $(this).closest('.steps-wrap').find('.bundle_button');
          if(other_items.length) {
            other_items.each(function(index,item) {
              $(item).removeClass('disabled');
            });
          }
        }

        let sum = 0,
        
        discountedAmount = 0;

        var property_inputS = $('.property_input');
        if(property_inputS.length) {
          property_inputS.each(function(index,item) {
            if($(item).val() != '') {
              var itemPrice = $(this).attr('data-price') * 1,
                  discountPrice = $(this).attr('data-compare-at-price') * 1;
              sum = sum + itemPrice;
              sum = sum ;
			
              discountedAmount = discountedAmount + discountPrice;
            }
          });
        }

        let master = 0;
   
        function compute(){
            const input_currency1 = "USD";
          const output_currency1 = "{{cart.currency.iso_code}}";
            console.log("This is the input currency: ", input_currency1);
            console.log("This is the output currency: ", output_currency1);
            let new_amt = 0;
            fetch(`https://api.exchangerate-api.com/v4/latest/${input_currency1}`)
            .then(res => res.json())
            .then(res => {
                const new_rate = res.rates[output_currency1];
               
                let o_amount = (120 * new_rate).toFixed(2);
              $('.bundle-price').html("{{cart.currency.symbol}}" + o_amount);
            })
        }
                  
        compute();
        let price_sum = (Math.round((sum * 0.010 ) * 100) / 100).toFixed(2);
        let price_str = "{{cart.currency.symbol}}" + price_sum;

        $('.bundle1-compare-at-price').html(price_str);
        
		global_sum = sum;

        var checkedItems = $(this).closest('.steps-wrap').find('.active-item');
        if(checkedItems.length >=countProd) {      

          var other_items =  $(this).closest('.steps-wrap').find('.bundle_button:not(.active-item)');
          if(other_items.length) {
            other_items.each(function(index,item) {
              $(item).addClass('disabled');
            });
          }
        }

        $('.product-option img').each(function() {
          if ($(this).attr('src') != '') {
            $('.product-details .ProductForm__AddToCart').css('pointer-events','auto');
            $('.product-details .ProductForm__AddToCart').removeClass('btn-disabled');
            $('.bundle-price').css('display', 'block');
            $('.bundle1-compare-at-price').css('text-decoration', 'line-through');
            $('.bundle-cont').css('display', 'flex');
            $('.bundle1-compare-at-price').addClass('bundle-compare-color');


          }
          else{
            $('.product-details .ProductForm__AddToCart').css('pointer-events','none');
            $('.product-details .ProductForm__AddToCart').addClass('btn-disabled');
            $('.bundle-price').css('display', 'none');
            $('.bundle1-compare-at-price').css('text-decoration', 'none');
            $('.bundle-cont').css('display', 'block');
            $('.bundle1-compare-at-price').removeClass('bundle-compare-color');



            return false;
          }
        });

        if(activeBtn) {
          if(checkedItems.length >=countProd) {      
            var newStepEl = $(this).parents('.step').next('.step');
            if(newStepEl.length) {
              newStepEl.show();
              if(!newStepEl.hasClass('show_block')) {
                newStepEl.addClass('show_block');
                $([document.documentElement, document.body]).animate({
                  scrollTop: newStepEl.offset().top
                }, 1000);
              }
            }
          }
        }
      });


      $('#ProductFormBundle button').on('click', function(e) {
        e.preventDefault();

        var variantsArr = [];
		var variantsTitle = [];

        var property_inputS = $('.property_input');
        if(property_inputS.length) {
          property_inputS.each(function(index,item) {
            if($(item).val() != '') {
              var itemID = $(this).val() * 1;
              console.log("This is itemId: ", itemID);
             variantsArr.push(itemID);
            }
          });
        }
        
       var property_inputT = $('.property_input');
        if(property_inputT.length) {
          property_inputT.each(function(index,item) {
            console.log("This is a titles: ", item.getAttribute('data-name'));
            variantsTitle.push(item.getAttribute('data-name'));
          });
        }

        
		console.log("This is tasklonbuilder: ", variantsArr);
        console.log("This is title tasklonbuilder: ", variantsTitle);


        
        function addItemToCart() {

          var data = {
            "id": variantsArr
          }
//           variantsArr.push(34471994753160);
//           variantsArr.push(34471986299016);


          
          console.log("This is Executed: ", variantsArr);
		  let top = [40215618322568];
          let bundle_amount = global_sum;
          let unique_id = variantsArr.join('');
          let u_amount = global_sum;
          global_sum = (Math.round((global_sum * 0.010 ) * 100) / 100).toFixed(2);
          axios.post('/cart/add.js', {
              items: [

                  {
                      id: variantsArr[3],
                      quantity: 1,
                      properties : {
                        "_body" : unique_id
                      }
                  },
                  {
                      id: variantsArr[2],
                      quantity: 1,
                      properties : {
                        "_body" : unique_id
                      }
                  },
                  {
                      id: variantsArr[1],
                      quantity: 1,
                      properties : {
                        "_body" : unique_id
                      }
                  },
                  {
                      id: variantsArr[0],
                      quantity: 1,
                      properties : {
                        "_body" : unique_id
                      }
                  },
                  {
                      id: 34471986299016,
                      quantity: 1,
                      properties : {
                        "_body" : unique_id
                      }
                  },
                  {
                      id: 34471994753160,
                      quantity: 1,
                      properties : {
                        "_body" : unique_id
                      }
                  },
				  {
                      id: top[0],
                      quantity: 1,
                	  properties : {
                        "4" : variantsTitle[0],
                        "3" : variantsTitle[1],
                        "2" : variantsTitle[2],
                        "1" : variantsTitle[3],
                        "_bundle-products" : [variantsTitle[0], variantsTitle[1], variantsTitle[2], variantsTitle[3]],
                        "_bundle-products-ids" : [variantsArr[0], variantsArr[1], variantsArr[2], variantsArr[3]],
                        "_top" : unique_id
                      }
                  },
                 
              ]
          }).then(function(res) {
              document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
                  bubbles: true
              }));
          })
    
    
        }
        
        if(variantsArr.length) {
          addItemToCart();
        }
      });


      $(document).on('click','.product-option .remove', function(e){
     
        var productOptionParent = $(this).closest('.product-option');
        var productOptionBlock = productOptionParent.find('.option')
        var currentVal = productOptionBlock.attr('data-option') * 1;
        var activeProductButton = $('[data-value="'+ currentVal +'"]');

        productOptionBlock.css('background', '#ffeef3');
        productOptionBlock.find('img').hide().attr('src', '');
        productOptionBlock.attr('data-option','');
        $(this).hide();

        $('[data-count-step][value="' + currentVal + '"]').val('').attr('name', "").attr('data-name', "");
        $('[data-value="'+ currentVal +'"]').text('ADD');
       
        if(activeProductButton.length) {
          activeProductButton.text('ADD');
          activeProductButton.removeClass('active-item');
          
        }
        var other_items = activeProductButton.closest('.steps-wrap').find('.bundle_button');
        if(other_items.length) {
          other_items.each(function(index,item) {
            $(item).removeClass('disabled');
          });
        }

        $('.product-option img').each(function() {
          if ($(this).attr('src') != '') {
            $('.product-details .ProductForm__AddToCart').css('pointer-events','auto');
            $('.product-details .ProductForm__AddToCart').removeClass('btn-disabled');
            $('.bundle-price').css('display', 'block');
            $('.bundle1-compare-at-price').css('text-decoration', 'line-through');
            $('.bundle-cont').css('display', 'flex');
            $('.bundle1-compare-at-price').addClass('bundle-compare-color');





          }
          else{
            $('.product-details .ProductForm__AddToCart').css('pointer-events','none');
            $('.product-details .ProductForm__AddToCart').addClass('btn-disabled');
            $('.bundle-price').css('display', 'none');
            $('.bundle1-compare-at-price').css('text-decoration', 'none');
            $('.bundle-cont').css('display', 'block');
            $('.bundle1-compare-at-price').removeClass('bundle-compare-color');




            return false
          }
        });
   
        let sum = 0,
            discountedAmount = 0;

        var property_inputS = $('.property_input');
        if(property_inputS.length) {
          property_inputS.each(function(index,item) {
            if($(item).val() != '') {
              var itemPrice = $(this).attr('data-price') * 1,
                  discountPrice = $(this).attr('data-compare-at-price') * 1;
              sum = sum + itemPrice;
              sum = sum ;
              discountedAmount = discountedAmount + discountPrice;
            }
          });
        }
        //Multiplied by 0.9 for the 10% off the total price
        $('.bundle-price').html(formatMoney(sum, window.theme.moneyFormat));
        $('.bundle-compare-at-price').html(formatMoney(sum, window.theme.moneyFormat));
      });
    });

  </script>
</div>
